@using GymFlow.Domain.DTOs.TrainerSchedule
@model TrainerScheduleAddUpdateDTO

@using GymFlow.Domain.Resources.Shared
@using Microsoft.Extensions.Localization
@using System.Globalization
@using System.Web
@using System.Text.Json
@inject IStringLocalizer<SharedResource> Localizer

<div class="card shadow-sm">

    <div class="card-header">
        <h5>@Localizer["Edit"] @Localizer["TrainerSchedule"]</h5>
    </div>

    <div class="card-body">

        <form asp-action="Edit">

            <input type="hidden" asp-for="TrainerSchedule.Id" />

            <partial name="Partials/_TrainerScheduleForm" model="Model" />

            <button type="submit" class="btn btn-primary">
                @Localizer["Edit"]
            </button>

            <a asp-action="Index" class="btn btn-secondary">
                @Localizer["Cancel"]
            </a>

        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>

        $(function () {

            initializeTrainerSchedule({

                trainerPlaceholder:
                    '@Localizer["SelectTrainer"]',

                // trainerId:
                //     '@Model.TrainerSchedule.TrainerId',

            });

        });

    </script>
}