@using GymFlow.Domain.DTOs.TrainerSchedule
@model IEnumerable<TrainerScheduleDTO>

@using GymFlow.Domain.Extensions
@using GymFlow.Domain.Resources.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

@using System.Globalization

<div class="d-flex align-items-center justify-content-between my-4">
    <h2>@Localizer["TrainerSchedules"]</h2>

    <a asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus me-1"></i>
        @Localizer["CreateNew"]
    </a>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Trainer"]</th>
                <th>@Localizer["Day"]</th>
                <th>@Localizer["StartTime"]</th>
                <th>@Localizer["EndTime"]</th>
                <th>@Localizer["DurationHours"]</th>
                <th>@Localizer["Actions"]</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item?.Trainer?.FullName</td>
                    <td>@item.Day.Value.ToLocalizedString()</td>
                    <td>@item.StartTime</td>
                    <td>@item.EndTime</td>
                    <td>
                        @if (item.DurationHours.HasValue)
                        {

                            @item.DurationHours.Value.ToLocalizedHours();
                        }
                    </td>
                <td>
                    <a asp-action="Edit"
                       asp-route-id="@item.Id"
                       class="btn btn-icon btn-outline-primary tooltip-btn"
                       data-tooltip="@Localizer["Edit"]">
                        <i class="fa fa-pen"></i>
                    </a>
                    <a asp-action="Details"
                       asp-route-id="@item.Id"
                       class="btn btn-icon btn-outline-info tooltip-btn"
                       data-tooltip="@Localizer["Details"]">
                        <i class="fa fa-info"></i>
                    </a>
                    <a asp-action="Delete"
                       asp-route-id="@item.Id"
                       class="btn btn-icon btn-outline-danger tooltip-btn"
                       data-tooltip="@Localizer["Delete"]">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
                        }
        </tbody>
    </table>
</div>