@using GymFlow.Domain.DTOs.Category
@model CategoryDTO

@using GymFlow.Domain.Constants;
@using GymFlow.Domain.Resources.Shared
@using GymFlow.WebUI.Extensions
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

<div class="row">

    <div>
        <div class="image-section">
            <img src="@Model.ImageUrl.GetImageUrl(Constants.CategoriesFolder)"
                 class="details-image"
                 alt="@Model.NameEn"
                 onerror="this.src='/uploads/no-image.svg'" />

        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["NameEn"]</label>
        <div>@Model.NameEn</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["NameAr"]</label>
        <div>@Model.NameAr</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["DescriptionEn"]</label>
        <div>@Model.DescriptionEn</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["DescriptionAr"]</label>
        <div>@Model.DescriptionAr</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["IsActive"]</label>
        <div>@(Model.IsActive? @Localizer["Yes"] : @Localizer["No"])</div>
    </div>

</div>