@using GymFlow.Domain.DTOs.TrainerSchedule
@model TrainerScheduleDTO

@using GymFlow.Domain.Extensions
@using GymFlow.Domain.Resources.Shared
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<SharedResource> Localizer

<div class="row">

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["Trainer"]</label>
        <div>@Model?.Trainer?.FullName</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["Day"]</label>
        <div>@Model.Day.Value.ToLocalizedString()</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["StartTime"]</label>
        <div>@Model.StartTime</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["EndTime"]</label>
        <div>@Model.EndTime</div>
    </div>

    @if (Model.DurationHours.HasValue)
    {
        <div class="col-sm-6 col-md-3">
            <label class="fw-bold">@Localizer["DurationHours"]</label>
            <div>@Model.DurationHours.Value.ToLocalizedHours()</div>
        </div>
    }
    

</div>