@using GymFlow.Domain.DTOs.SubscriptionType
@model IEnumerable<SubscriptionTypeDTO>

@using GymFlow.Domain.Enums
@using GymFlow.Domain.Resources.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

@using System.Globalization

<div class="d-flex align-items-center justify-content-between my-4">
    <h2>@Localizer["SubscriptionTypes"]</h2>

    <a asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus me-1"></i>
        @Localizer["CreateNew"]
    </a>
</div>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["NameEn"]</th>
                <th>@Localizer["NameAr"]</th>
                <th>@Localizer["DaysPerWeek"]</th>
                <th>@Localizer["DurationDays"]</th>
                <th>@Localizer["Price"]</th>
                <th>@Localizer["IsActive"]</th>
                <th>@Localizer["Actions"]</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.NameEn</td>
                    <td>@item.NameAr</td>
                    <td>@item.DaysPerWeek</td>
                    <td>@item.DurationDays</td>
                    <td>@item.Price</td>
                    <td class="fw-bold @(item.IsActive ? "text-success" : "text-danger")" >@(item.IsActive? @Localizer["Yes"] : @Localizer["No"])</td>
                    <td>
                        <a asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="btn btn-icon btn-outline-primary tooltip-btn"
                           data-tooltip="@Localizer["Edit"]">
                            <i class="fa fa-pen"></i>
                        </a>
                        <a asp-action="Details"
                           asp-route-id="@item.Id"
                           class="btn btn-icon btn-outline-info tooltip-btn"
                           data-tooltip="@Localizer["Details"]">
                            <i class="fa fa-info"></i>
                        </a>
                        <a asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="btn btn-icon btn-outline-danger tooltip-btn"
                           data-tooltip="@Localizer["Delete"]">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>