@using GymFlow.Domain.DTOs.MemberSubscription
@model MemberSubscriptionDTO

@using GymFlow.Domain.Enums
@using GymFlow.Domain.Resources.Shared
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<SharedResource> Localizer

<div class="row">

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["Member"]</label>
        <div>@Model?.Member?.FullName</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["SubscriptionType"]</label>
        <div>
            @(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
                        ? Model?.SubscriptionType?.NameAr
                        : Model?.SubscriptionType?.NameEn)
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["StartDate"]</label>
        <div>@Model.StartDate</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["EndDate"]</label>
        <div>@Model.EndDate</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["Price"]</label>
        <div>@Model.Price</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["Status"]</label>
        <div>
            @switch (Model.Status)
            {
                case SubscriptionStatus.Active:
                    <span class="badge bg-success">@Localizer["Active"]</span>
                    break;

                case SubscriptionStatus.Inactive:
                    <span class="badge bg-danger">@Localizer["Inactive"]</span>
                    break;

                case SubscriptionStatus.Expired:
                    <span class="badge bg-warning">@Localizer["Expired"]</span>
                    break;

                case SubscriptionStatus.Cancelled:
                    <span class="badge bg-warning">@Localizer["Cancelled"]</span>
                    break;

                case SubscriptionStatus.Suspended:
                    <span class="badge bg-success">@Localizer["Suspended"]</span>
                    break;

                case SubscriptionStatus.Unsuspended:
                    <span class="badge bg-danger">@Localizer["Unsuspended"]</span>
                    break;

                default:
                    <span class="badge bg-secondary">@Localizer["Unknown"]</span>
                    break;
            }
        </div>
    </div>

</div>