@using GymFlow.Domain.DTOs.MemberSubscription
@model MemberSubscriptionDTO

@using GymFlow.Domain.Enums
@using GymFlow.Domain.Extensions
@using GymFlow.Domain.Resources.Shared
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject IStringLocalizer<SharedResource> Localizer

<div class="row">

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["Member"]</label>
        <div>@Model?.Member?.FullName</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["SubscriptionType"]</label>
        <div>
            @(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar"
                        ? Model?.SubscriptionType?.NameAr
                        : Model?.SubscriptionType?.NameEn)
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["StartDate"]</label>
        <div>@Model.StartDate</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["EndDate"]</label>
        <div>@Model.EndDate</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["Price"]</label>
        <div>@Model.Price</div>
    </div>

    <div class="col-sm-6 col-md-3">
        <label class="fw-bold">@Localizer["Status"]</label>
        <div>
            <span class="badge @Model.Status.ToBadgeClass()">
                @Model.Status.ToLocalizedString()
            </span>
        </div>
    </div>

</div>