@using GymFlow.Domain.DTOs.MemberSubscription
@model MemberSubscriptionAddUpdateDTO

@using GymFlow.Domain.Resources.Shared
@using Microsoft.Extensions.Localization
@using System.Globalization
@using System.Web
@using System.Text.Json
@inject IStringLocalizer<SharedResource> Localizer

<div class="card shadow-sm">

    <div class="card-header">
        <h5>@Localizer["Create"] @Localizer["MemberSubscription"]</h5>
    </div>

    <div class="card-body">

        <form asp-action="Create" method="post">

            <partial name="Partials/_MemberSubscriptionForm" model="Model" />

            <button type="submit" class="btn btn-success">
                @Localizer["Save"]
            </button>

            <a asp-action="Index" class="btn btn-secondary">
                @Localizer["Cancel"]
            </a>

        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
                            initializeMemberSubscription({

                memberPlaceholder: @Html.Raw(JsonSerializer.Serialize(Localizer["SelectMember"].Value)),

                subscriptionPlaceholder: @Html.Raw(JsonSerializer.Serialize(Localizer["SelectMemberSubscription"].Value)),

                lang: @Html.Raw(JsonSerializer.Serialize(CultureInfo.CurrentUICulture.TwoLetterISOLanguageName)),


                // Edit values
                memberId: @Html.Raw(JsonSerializer.Serialize(Model.MemberSubscription?.MemberId)),

                memberName: @Html.Raw(JsonSerializer.Serialize(Model.MemberSubscription?.Member?.FullName)),


                subscriptionTypeId: @Html.Raw(JsonSerializer.Serialize(Model.MemberSubscription?.SubscriptionTypeId)),

                subscriptionTypeName: @Html.Raw(JsonSerializer.Serialize(
                                                            CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "en"
                                                                            ? Model.MemberSubscription?.SubscriptionType?.NameEn
                                                                            : Model.MemberSubscription?.SubscriptionType?.NameAr
                                            )),


        price: @Html.Raw(JsonSerializer.Serialize(Model.MemberSubscription?.Price)),

                durationDays: @Html.Raw(JsonSerializer.Serialize(
                                                Model.MemberSubscription?.SubscriptionType?.DurationDays
                                ))

    });
    </script>
}